@charset "utf-8";
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
html{
	font-size: 100px;
	font-size: 26.67vw;
}
body{
    font-family: "微软雅黑",Arial;
    font-size: .12rem;
	display: -webkit-flex;
	flex-direction: column;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
	display: block;
}
a{ 
    text-decoration: none;
    color: #000;
}
.icofont{
    font-size: .15rem;
}

/* header */
.head{
    width: 100%;
    height: .44rem;
    background: #fff;
    display: flex;
    border-bottom: 1px solid #dddddd;
    align-items:center;
}
.header_icon{
    width: .41rem;
    font-size: .22rem;
    line-height: .41rem;
    text-align: center;
    color:#464646;
}
.brand_tit{
    font-size: .15rem;
    flex: 1;
    text-align:center;
}

/* section */
.section{
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    position: relative;
}
.section::-webkit-scrollbar{
    display: none;
}

.brand_img{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.brand_row{
    height: 1.3rem;
    width: 100%;
    display: flex;
}
.li_item{
    display: inline-block;
    width: 50%;
    height: 1.3rem;
    box-sizing: border-box;
    
}
.item_left{
    padding-right: .02rem;
    padding-top:.05rem;
}
.item_right{
    padding-left: .02rem;
    padding-top:.05rem;
}
.img_item{
    height: 100%;
    width: 100%;
}
.search_list{
    width: 100%;
}

.all_brand{
    width: 100%;
    font-size: .15rem;
    color:#000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.12rem 0;
    margin-top:.2rem;
}
.line{
    flex: 1;
    height: 1px;
    background: #000;
}
.tit{
    padding:0 .1rem;
}

.lists{
    width: 100%;
    box-sizing: border-box;
    padding-left: .15rem;
    padding-right: .37rem;
}
.lists_tit{
    width: 100%;
    height: .4rem;
    box-sizing: border-box;
    font-size: .15rem;
    line-height: .4rem;
    border-left: .06rem solid #b81c22;
    background: #f7f7f7;
    text-indent: .1rem;
    font-weight: 600;
}
.lists_item{
    width: 100%;
    height: .4rem;
    box-sizing: border-box;
    text-indent: .16rem;
}
.item_link{
    width: 100%;
    font-size: .12rem;
    line-height: .4rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.aside{
    position: fixed;
    top: .44rem;
    right: 0;
    bottom: .5rem;
    width: .26rem;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:0.1rem 0;
    display: none;
}
.aside_item{
    font-size: .12rem;
    color:skyblue;
}
/* footer */
.foot{
    height: .5rem;
    width: 100%;
    display: flex;
    align-items:center;
    background: #fff;
    box-shadow: 0 -2px 10px 1px rgba(0,0,0,.2);
}
.foot_list{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#000;
}
.foot_icon{
    font-size: .2rem;
    margin-bottom: .05rem;
}
.current{
    color: #b81c22
}
/*back_top*/
.back_top{
    width: .48rem;
    height: .48rem;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.6);
    position: absolute;
    background: rgba(255,255,255,.6);
    bottom: .65rem;
    right:.2rem;
    text-align: center;
    display: none;
}
.back{
    font-size: .24rem;
    line-height: .48rem;
}