@charset "utf-8";
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
html{
	font-size: 100px;
	font-size: 26.67vw;
}
body{
    font-family: "微软雅黑",Arial;
    font-size: .12rem;
	display: -webkit-flex;
	flex-direction: column;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
	display: block;
}
a{ 
    text-decoration: none;
    color: #000;
}

/* header */
.head{
    width: 100%;
    height: .33rem;
    padding: .05rem 0 ;
    border-bottom: 1px solid #dddddd;
    display: flex;
}
.head_item{
    height: .33rem;
}
.head_left{
    width: .4rem;
    text-align: center;
}
.back{
    font-size: .20rem;
    line-height: .33rem;
}
.head_center{
    flex: 1;
    position: relative;
}
.search{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: .02rem;
    background: #f7f7f7;
    font-size: .14rem;
    text-indent: .3rem;
}
.search_icon{
    position: absolute;
    left: .05rem;
    top:.05rem;
    font-size: .20rem;
}
.close_icon{
    position: absolute;
    right: .05rem;
    top:.05rem;
    font-size: .20rem;
}
.head_right{
    width:.49rem;
    text-align: center;
}
.search_btn{
    border: none;
    outline: none;
    border-radius: .02rem;
    background: #fff;
    font-size: .14rem;
    line-height: .33rem;
    color:#616161;
}

/* quick_nav */
.quick_nav{
    height: .43rem;
    width: 100%;  
    display: flex;
    border-bottom: 1px solid #ddd;
}
.list_item{
    width: 25%;
    height: .43rem;
    font-size: .15rem;
    color:#616161;
    text-align: center;
    line-height: .43rem;
    box-sizing: border-box;
    position: relative;
    /* border-bottom:1px solid #b81c22; */
}
.tric{
    height: 0;
    width: 0;
    display: block;
    border:.06rem solid transparent;
}
.tric_top{
    border-bottom-color: #dddddd; 
    position: absolute;
    top:.08rem;
    right: .17rem;
}
.tric_bottom{
    border-top-color: #dddddd; 
    position: absolute;
    top:.23rem;
    right: .17rem;
}
.filter_icon{
    font-size: .16rem;
}

/* section */
.section{
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}
.goods_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}
.goods_item{
    width:50%;
    height:2.64rem ;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:0 .1rem;
    position: relative;
}
.promt_message{
    width: .2rem;
    height: .55rem;
    position: absolute;
    right: 0;
    top:40%;
    font-size: .11rem;
    line-height: .12rem;
    border:1px solid #f1f1f1;
    text-align: center;
    color:#999999;
}
.goods_img{
    height: 1.65rem;
    width: 100%;
    text-align: center;
}
.item_img{
    height: 1.65rem;
    width:1.65rem;
}
.goods_des{
    font-size: 10px;
    width: 100%;
    height:.24rem ;
}
.goods_price{
    width: 100%;
}
.discount_price{
    font-size: 10px;
    color:#b01422;
}
.original_price{
    font-size: 10px;
    text-decoration: line-through;
}
.goods_discount{
    width:100%;
    font-size: 10px;
}
.full_reduce{
    display: inline-block;
    background: #b01422;
    color:#fff;
    padding:.02rem .05rem;
    line-height: .14rem;
}